/* src/components/Navbar.css */
.navbar {
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .navbar-logo img {
    height: 60px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-button:hover,
  .navbar-links a:hover {
    text-decoration: underline;
  }
  